<!DOCTYPE>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Scope+One" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet"></link>
    <link href="css/bootstrap-theme.css" rel="stylesheet"></link>
    <link href="css/app.css" rel="stylesheet"></link>
    <script src="js/jquery-3.0.0.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/scrollax.js"></script>
  </head>
  <body>
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">113 Seneca Chase Court</h1>
    </div>
  </div>
  </body>
</html>
